body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2rem;


}

nav ul {
  display: contents;
  margin-bottom: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav li{
  display: contents;
  flex:1
}

nav a {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(90% 3% 200); /* lighter gray */
  padding-bottom: 0.1em; /* compensate for thicker border */
  font-weight: bold;
}

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  margin-top: 2em;
}

:root {
  --color-accent: oklch(0.62 0.2726 22.62);
  accent-color: var(--color-accent);
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h)
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;                 
  margin-block: 0.5rem;           /* adds spacing above and below */
}

input,
textarea{
  grid-column: 2;
  display: block;                 /* puts them on their own line */
  width: 100%;                    /* makes them span the full container */
  box-sizing: border-box; 
  resize: vertical;
  font: inherit;                  /* makes font match the rest of the site */
}

button{
  padding: 0.8em;
}